.base-line-fill {
    fill: white;
    stroke: blue;
    stroke-width: 2;
}

.base-line {
    fill: none;
    stroke: blue;
    stroke-width: 2;
}

.base-line-black {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.thin-line {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.dashed-line {
    fill: none;
    stroke: orangered;
    stroke-width: 1;
    stroke-dasharray: 25,4,3,4;
}