
.drawing {
    font-family: Gost;
    font-style: italic;
}

.dim-arrow {
    fill: none;
    stroke: black;
    stroke-width: 1;
    fill: black;
}

.dim-arrow:hover {
    cursor: pointer;
    stroke: gold;
    fill: gold;
}

.dim-input {
    position: absolute;
    width: 100px;
    background-color: rgb(234, 234, 234);
    border: none;
    z-index: 1;
    font-family: Gost;
    font-style: italic;
}

.ground {
    stroke: grey;
}

.ground:hover {
    cursor: pointer;
    stroke: gold;
}

.expansion-join {
    stroke: black;
}

.expansion-join:hover {
    cursor: pointer;
    stroke: gold;
}

.pop-up, .overhang-menu, .ex-joint-menu {
    position: relative;
    flex-direction: column;
    max-width: 200px;
    /* background-color: aqua; */
}


.base-line-black {
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
}

.thin-line {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.dashed-line {
    fill: none;
    stroke: orangered;
    stroke-width: 1;
    stroke-dasharray: 25,4,3,4;
}

.r1500 {
    fill: white;
    stroke: green;
    stroke-width: 2;
    stroke-linecap: round;
}

.s1500, .e1500 {
    fill: white;
    stroke: blue;
    stroke-width: 2;
    stroke-linecap: round;
}

.r3000 {
    fill: white;
    stroke: red;
    stroke-width: 2;
    stroke-linecap: round;
}

.r1000 {
    fill: white;
    stroke: rgb(160, 160, 12);
    stroke-width: 2;
    stroke-linecap: round;
}

.u {
    fill: white;
    stroke: rgb(255, 149, 0);
    stroke-width: 2;
    stroke-linecap: round;
}

.us {
    fill: white;
    stroke: rgb(132, 176, 253);
    stroke-width: 2;
    stroke-linecap: round;
}

.ue {
    fill: white;
    stroke: rgb(209, 64, 209);
    stroke-width: 2;
    stroke-linecap: round;
}

.ur {
    fill: white;
    stroke: rgb(20, 205, 146);
    stroke-width: 2;
    stroke-linecap: round;
}

.end:hover, .start:hover {
    cursor: pointer;
    stroke: gold;
}

.stamp:hover {
    cursor: pointer;
}