.expansion-joint-input, .plate-joint-input {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin: 5px;
}

.plate-joint-input {
    background-color: greenyellow;
}

.project-menu {
    overflow-y: scroll;
    overflow-x: hidden;
}